* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 700;
}

#calculadora-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#resultado {
    text-align: center;
    font-weight: 100px;
}


input, select {
    border: none;
    border-bottom: 1px solid #19bd24;
    margin-top: 25px;
    width: 150px;
    text-align: center;
}
button {
    border: none;
    border-radius: 20px;
    background: #2501d6;
    color: #ffb52c;
    width: 100px;
    padding: 1px;
}